@model NominaDataBase.Nominas

@{
    ViewBag.Title = "NominaAPP - Creacion de  Nóminas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<h2 class="p-3 mb-2 bg-primary text-white col-md-12">Nóminas</h2><hr /><hr /><hr />
<h3 class="p-3 mb-2 bg-info text-white">Creación</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container py-5">
        <form class="row justify-content-center">

            <div class="form-group container col-md-12">
                <br /><br />
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="col-md-3" style="font-size:20px">
                    @Html.LabelFor(model => model.Nombre, "Nombre:", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10 form-group">
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @style = "font-size: 16px", @placeholder = "Nombre" } })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-3" style="font-size:20px">
                    @Html.LabelFor(model => model.Nombre, "Tipo de Nómina:", htmlAttributes: new { @class = "control-label col-md-9" })
                    <div class="col-md-10 form-group">
                        @Html.EditorFor(model => model.TipoNomina, new { htmlAttributes = new { @class = "form-control", @style = "font-size: 16px", @placeholder = "Tipo de Nómina" } })
                        @Html.ValidationMessageFor(model => model.TipoNomina, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-3" style="font-size:20px">
                    @Html.LabelFor(model => model.Banco, "Banco:", htmlAttributes: new { @class = "control-label col-md-9" })

                    <div class="col-md-10 form-group">
                        @{
                            List<SelectListItem> listItems = new List<SelectListItem>();
                            listItems.Add(new SelectListItem { Text = "Banco Popular", Value = "Banco Popular" });
                            listItems.Add(new SelectListItem { Text = "Banreservas", Value = "Banreservas" });
                            listItems.Add(new SelectListItem { Text = "Banco BHD León", Value = "Banco BHD León" });
                            listItems.Add(new SelectListItem { Text = "Scotiabank", Value = "Scotiabank" });
                            listItems.Add(new SelectListItem { Text = "Banco Progreso", Value = "Banco Progreso" });
                            listItems.Add(new SelectListItem { Text = "Banco Vimenca", Value = "Banco Vimenca" });
                            listItems.Add(new SelectListItem { Text = "Banco Central", Value = "Banco Central" });
                            listItems.Add(new SelectListItem { Text = "Banco Caribe", Value = "Banco Caribe" });
                            listItems.Add(new SelectListItem { Text = "Banco Santa Cruz", Value = "Banco Santa Cruz" });
                            listItems.Add(new SelectListItem { Text = "Banco Promerica", Value = "Banco Promerica" });
                            listItems.Add(new SelectListItem { Text = "Banco BDI", Value = "Banco BDI" });
                            listItems.Add(new SelectListItem { Text = "Bancamérica", Value = "Bancamérica" });
                            listItems.Add(new SelectListItem { Text = "Banesco", Value = "Banesco" });
                            listItems.Add(new SelectListItem { Text = "Banco Agrícola", Value = "Banco Agrícola" });
                            listItems.Add(new SelectListItem { Text = "Banco Ademi", Value = "Banco Ademi" });
                        }

                        @Html.DropDownListFor(model => model.Banco, listItems, new { @class = "form-control", @style = "font-size: 16px" })
                        @Html.ValidationMessageFor(model => model.Banco, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-3" style="font-size:20px">
                    @Html.LabelFor(model => model.Monto, "Monto:", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10 form-group">
                        @Html.TextBoxFor(model => model.Monto, new { @type = "number", @class = "form-control", @min = "0", @style = "font-size: 16px", @placeholder = "Monto" })
                        @Html.ValidationMessageFor(model => model.Monto, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-3" style="font-size:20px">
                    @Html.LabelFor(model => model.Total_AFP, "Total de AFP:", htmlAttributes: new { @class = "control-label col-md-9" })
                    <div class="col-md-10 form-group">
                        @Html.TextBoxFor(model => model.Total_AFP, new { @type = "number", @class = "form-control", @min = "0", @style = "font-size: 16px", @placeholder = "Total de AFP" })
                        @Html.ValidationMessageFor(model => model.Total_AFP, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-3" style="font-size:20px">
                    @Html.LabelFor(model => model.Total_ARS, "Total ARS:", htmlAttributes: new { @class = "control-label col-md-9" })
                    <div class="col-md-10 form-group">
                        @Html.TextBoxFor(model => model.Total_ARS, new { @type = "number", @class = "form-control", @min = "0", @style = "font-size: 16px", @placeholder = "Total de ARS" })
                        @Html.ValidationMessageFor(model => model.Total_ARS, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-3" style="font-size:20px">
                    @Html.LabelFor(model => model.Total_ISR, "Total ISR:", htmlAttributes: new { @class = "control-label col-md-9" })
                    <div class="col-md-10 form-group">
                        @Html.TextBoxFor(model => model.Total_ISR, new { @type = "number", @class = "form-control", @min = "0", @style = "font-size: 16px", @placeholder = "Total de ISR" })
                        @Html.ValidationMessageFor(model => model.Total_ISR, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-3" style="font-size:20px">
                    @Html.LabelFor(model => model.Total_Otros_descuentos, "Total Otros Descuentos:", htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-10 form-group">
                        @Html.TextBoxFor(model => model.Total_Otros_descuentos, new { @type = "number", @class = "form-control", @min = "0", @style = "font-size: 16px", @placeholder = "Total Otros Descuentos" })
                        @Html.ValidationMessageFor(model => model.Total_Otros_descuentos, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-3" style="font-size:20px">
                    @Html.LabelFor(model => model.Total_ingresos, "Total de Ingresos:", htmlAttributes: new { @class = "control-label col-md-9" })
                    <div class="col-md-10 form-group">
                        @Html.TextBoxFor(model => model.Total_ingresos, new { @type = "number", @class = "form-control", @min = "0", @style = "font-size: 16px", @placeholder = "Total de Ingresos" })
                        @Html.ValidationMessageFor(model => model.Total_ingresos, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-3" style="font-size:20px">
                    @Html.LabelFor(model => model.fechaDesde, "Fecha Desde:", htmlAttributes: new { @class = "control-label col-md-9" })
                    <div class="col-md-10 form-group" style="text-align:right">
                        @Html.EditorFor(model => model.fechaDesde, new { htmlAttributes = new { @class = "datepicker form-control", @style = "font-size: 16px", @placeholder = "Fecha Inicial" } })
                        @Html.ValidationMessageFor(model => model.fechaDesde, "", new { @class = "text-danger" })
                        <span class="text-danger">@ViewBag.FechaErrorMessage</span>
                    </div>
                </div>

                <div class="col-md-3" style="font-size:20px">
                    @Html.LabelFor(model => model.fechaHasta, "Fecha Hasta:", htmlAttributes: new { @class = "control-label col-md-9" })
                    <div class="col-md-10 form-group" style="text-align:right">
                        @Html.EditorFor(model => model.fechaHasta, new { htmlAttributes = new { @class = "datepicker form-control", @style = "font-size: 16px", @placeholder = "Fecha Final" } })
                        @Html.ValidationMessageFor(model => model.fechaHasta, "", new { @class = "text-danger" })
                        <span class="text-danger">@ViewBag.FechaErrorMessage</span>
                    </div>
                </div>

                <div class="col-md-3" style="font-size:20px">
                    @Html.LabelFor(model => model.FechaEfectividad, "Fecha Efectividad:", htmlAttributes: new { @class = "control-label col-md-10" })
                    <div class="col-md-10 form-group" style="text-align:right">
                        @Html.EditorFor(model => model.FechaEfectividad, new { htmlAttributes = new { @class = "datepicker form-control", @style = "font-size: 16px", @placeholder = "Fecha de Efectividad" } })
                        @Html.ValidationMessageFor(model => model.FechaEfectividad, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-3" style="font-size:20px">
                    @Html.LabelFor(model => model.Estado, "Estado:", htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-10 form-group">
                        @{
                            listItems.Clear();
                            listItems.Add(new SelectListItem { Text = "Activo", Value = "A" });
                            listItems.Add(new SelectListItem { Text = "Inactivo", Value = "I" });
                        }

                        @Html.DropDownListFor(model => model.Estado, listItems, new { @class = "col-md-2 form-control", @style = "font-size: 16px" })
                        @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-5" style="font-size:20px">
                    @Html.LabelFor(model => model.Observaciones, "Observaciones:", htmlAttributes: new { @class = "control-label col-md-9" })
                    <div class="col-md-12 form-group">
                        @Html.TextAreaFor(model => model.Observaciones, new { cols = 65, rows = 6, @class = "form-control", @style = "font-size: 16px", @placeholder = "Estamos en A!" })
                        @Html.ValidationMessageFor(model => model.Observaciones, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="text-align:center">
                    <div class="control-label col-md-12">
                        <br />
                        <input type="submit" value="Guardar Nómina" class="btn btn-success" style="font-size:18px" />
                    </div>
                </div>
                <div class="form-group" style="text-align:center">
                    <div class="control-label col-md-12">
                        <br />
                        @Html.ActionLink("Volver Atras", "Index", new { }, new { @class = "btn btn-warning fa fa-long-arrow-alt-left" })
                    </div>
                </div>
            </div>
        </form>
    </div>
}


<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

@section scripts {
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script>
        $(function () {
            $(".datepicker").datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-6:+5",
                showOn: "both",
                buttonText: "<i class='fa fa-calendar-alt'></i>"
            });

        });
    </script>
}