@model IEnumerable<NominaDataBase.Nominas>

@{
    ViewBag.Title = "NominaAPP - Nominas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="p-3 mb-2 bg-primary text-white col-lg-10">&nbsp;&nbsp;Nominas</h2>
<br /><br /><br /><br />

<p>
    @Html.ActionLink("Crear Nueva Nomina", "Create", new { }, new { @class = "btn btn-success" })
    <br /><br />
</p>

<div class="col-md-12">
    <table class="table table-bordered table-striped text-center">
        <tr style="font-size:15px">
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayName("Tipo Nomina")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Banco)
            </th>
            <th>
                @Html.DisplayName("Fecha Desde")
            </th>
            <th>
                @Html.DisplayName("Fecha Hasta")
            </th>
            <th>
                @Html.DisplayName("Fecha Efectividad")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayName("Total AFP")
            </th>
            <th>
                @Html.DisplayName("Total ARS")
            </th>
            <th>
                @Html.DisplayName("Total ISR")
            </th>
            <th>
                @Html.DisplayName("Total Ingresos")
            </th>
            <th>
                @Html.DisplayName("Total Otros Descuentos")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observaciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayName("Acción")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr style="font-size:15px">
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoNomina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Banco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaDesdeConverted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechahastaConverted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEfectividadConverted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total_AFP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total_ARS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total_ISR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total_ingresos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total_Otros_descuentos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observaciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdNomina }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.IdNomina }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.IdNomina }, new { @class = "btn btn-danger" })
            </td>
        </tr>
        }

    </table>
    </div>