@model NominaDataBase.TipoTransaccion

@{
    ViewBag.Title = "NominaAPP - Detalles Tipo de Transacciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="p-3 mb-2 bg-primary text-white col-md-8">Detalles</h2>

<div class="form-horizontal col-md-8" style="text-align:center">
    <h3 class="p-3 mb-2 bg-info text-white col-md-8">Tipo de Transacción No. @Html.DisplayFor(model => model.IdTipoTransaccion)</h3>
    <hr />
    <br /><br />
    <div>
        <dl class="dl-horizontal col-md-6">
            <dt>
                <h3 style="font-weight:bold">@Html.DisplayName("Descripción:")</h3>
            </dt>

            <dd>
                <h3>@Html.DisplayFor(model => model.Descripcion)</h3>
            </dd>

        </dl>
    </div>
    <div class="form-horizontal col-md-8">
        <br />
        @Html.ActionLink("Volver Atras", "Index", new { }, new { @class = "btn btn-info" }) |
        @Html.ActionLink("Editar", "Edit", new { id = Model.IdTipoTransaccion }, new { @class = "btn btn-warning" })
    </div>
