@model NominaDataBase.Empleados

@{
    ViewBag.Title = "NominaAPP - Detalles Empleados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="p-3 mb-2 bg-primary text-white col-md-8">Detalles</h2>

<div class="form-horizontal col-md-8" style="text-align:center">
    <h3 class="p-3 mb-2 bg-info text-white col-md-4">Empleado #@Html.DisplayFor(model => model.IdEmpleado)</h3>
    <hr />
    <br /><br />
    <div>
        <dl class="dl-horizontal col-md-6">
            <dt>
                <h3 style="font-weight:bold">@Html.DisplayNameFor(model => model.Cedula):</h3>
            </dt>

            <dd>
                <h3>@Html.DisplayFor(model => model.Cedula)</h3>
            </dd>

            <dt>
                <h3 style="font-weight:bold">@Html.DisplayNameFor(model => model.Nombre):</h3>
            </dt>

            <dd>
                <h3>@Html.DisplayFor(model => model.Nombre)</h3>
            </dd>

            <dt>
                <h3 style="font-weight:bold">@Html.DisplayNameFor(model => model.Apellido):</h3>
            </dt>

            <dd>
                <h3>@Html.DisplayFor(model => model.Apellido)</h3>
            </dd>

            <dt>
                <h3 style="font-weight:bold">@Html.DisplayNameFor(model => model.Salario):</h3>
            </dt>

            <dd>
                <h3>@Html.DisplayFor(model => model.Salario)</h3>
            </dd>

            <dt>
                <h3 style="font-weight:bold">@Html.DisplayName("Salario H Extra:")</h3>
            </dt>

            <dd>
                <h3>@Html.DisplayFor(model => model.Salario_H_Extra)</h3>
            </dd>
        </dl>
        <dl class="dl-horizontal col-md-6">
            <dt>
                <h3 style="font-weight:bold">@Html.DisplayName("Salario H Ord:")</h3>
            </dt>

            <dd>
                <h3>@Html.DisplayFor(model => model.Salario_H_Ordinarias)</h3>
            </dd>

            <dt>
                <h3 style="font-weight:bold">@Html.DisplayName("Fecha Ingreso:")</h3>
            </dt>

            <dd>
                <h3>@Html.DisplayFor(model => model.FechaIngreso)</h3>
            </dd>

            <dt>
                <h3 style="font-weight:bold">@Html.DisplayNameFor(model => model.Estado):</h3>
            </dt>

            <dd>
                <h3>@Html.DisplayFor(model => model.Estado)</h3>
            </dd>

            <dt>
                <h3 style="font-weight:bold">@Html.DisplayName("Departamento:")</h3>
            </dt>

            <dd>
                <h3>@Html.DisplayFor(model => model.Departamentos.Nombre)</h3>
            </dd>

            <dt>
                @*@Html.DisplayNameFor(model => model.Nominas.Nombre)*@
            </dt>

            <dd>
                @* @Html.DisplayFor(model => model.Nominas.Nombre)*@
            </dd>

            <dt>
                <h3 style="font-weight:bold">@Html.DisplayNameFor(model => model.Puestos.Puesto):</h3>
            </dt>

            <dd>
                <h3>@Html.DisplayFor(model => model.Puestos.Puesto)</h3>
            </dd>

            <dt>
                @* @Html.DisplayNameFor(model => model.Nominas1.Nombre)*@
            </dt>

            <dd>
                @* @Html.DisplayFor(model => model.Nominas1.Nombre)*@
            </dd>
        </dl>

    </div>
    <div class="form-horizontal col-md-8">
        <br />
        @Html.ActionLink("Volver Atras", "Index", new { }, new { @class = "btn btn-info" }) |
        @Html.ActionLink("Editar", "Edit", new { id = Model.IdDepartamento }, new { @class = "btn btn-warning" })
    </div>
