@model NominaDataBase.Puestos

@{
    ViewBag.Title = "NominaAPP - Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="p-3 mb-2 bg-primary text-white col-md-8">Detalles</h2>

<div class="form-horizontal col-md-8" style="text-align:center">
    <h3 class="p-3 mb-2 bg-info text-white col-md-4">Puesto #@Html.DisplayFor(model => model.IdPuesto)</h3>
    <hr />
    <br /><br />
    <div>
        <dl class="dl-horizontal col-lg-6">
            <dt>
                <h3 style="font-weight:bold">@Html.DisplayNameFor(model => model.Puesto):</h3>
            </dt>

            <dd>
                <h3> @Html.DisplayFor(model => model.Puesto)</h3>
            </dd>

            <dt>
                <h3 style="font-weight:bold">@Html.DisplayName("Salario Mínimo:")</h3>
            </dt>

            <dd>
                <h3>@Html.DisplayFor(model => model.SalarioMinimo)</h3>
            </dd>

            <dt>
                <h3 style="font-weight:bold">@Html.DisplayName("Salario Máximo:")</h3>
            </dt>

            <dd>
                <h3>@Html.DisplayFor(model => model.SalarioMaximo)</h3>
            </dd>

            <dt>
                <h3 style="font-weight:bold">@Html.DisplayName("Departamento:")</h3>
            </dt>

            <dd>
                <h3>@Html.DisplayFor(model => model.Departamentos.Nombre)</h3>
            </dd>

        </dl>
    </div>
    <div class="form-horizontal col-md-7">
        <br />
        @Html.ActionLink("Volver Atras", "Index", new { }, new { @class = "btn btn-info" }) |
        @Html.ActionLink("Editar", "Edit", new { id = Model.IdDepartamento }, new { @class = "btn btn-warning" })
    </div>
