@model IEnumerable<NominaDataBase.Puestos>

@{
    ViewBag.Title = "Puestos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="p-3 mb-2 bg-primary text-white col-lg-10">&nbsp;&nbsp;Puestos</h2>
<br /><br /><br /><br />

<p>
    @Html.ActionLink("Crear Nuevo Puesto", "Create", new { }, new { @class = "btn btn-success" })
    <br /><br />
</p>

<div class="col-lg-10">
    <table class="table table-bordered table-striped text-center">
        <tr style="font-size:18px">
            <th>
                @Html.DisplayNameFor(model => model.Puesto)
            </th>
            <th>
                @Html.DisplayName("Departamento")
            </th>
            <th>
                @Html.DisplayName("Salario Mínimo")
            </th>
            <th>
                @Html.DisplayName("Salario Máximo")
            </th>
            <th>
                @Html.DisplayName("Acción")
            </th>
        </tr>

        @foreach (var item in Model)
        {
        <tr style="font-size:18px">
            <td>
                @Html.DisplayFor(modelItem => item.Puesto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamentos.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalarioMinimo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalarioMaximo)
            </td>

            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdPuesto }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.IdPuesto }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.IdPuesto }, new { @class = "btn btn-danger" })
            </td>
        </tr>
        }

    </table>
</div>
