@model NominaWeb.Models.TransaccionViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Detalle Transacciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Maestra.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maestra.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Maestra.Empleados.Cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maestra.Empleados.Cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Maestra.Tipos_Deducciones.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maestra.Tipos_Deducciones.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Maestra.Tipos_Ingresos.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maestra.Tipos_Ingresos.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detalle.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detalle.Monto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Maestra.IdTransaccion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
