@model IEnumerable<NominaDataBase.Maestro_Transacciones>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="input-group">
    <span class="input-group-btn">
        <input type="submit" value="Buscar" class="btn btn-default" />
    </span>
 @Html.TextBox("SearchName", null, new { @class = "form-control " })
</div>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdTransaccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleados.Cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipos_Deducciones.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipos_Ingresos.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdTransaccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleados.Cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipos_Deducciones.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipos_Ingresos.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.IdTransaccion }) |
            @Html.ActionLink("Details", "Details", new { id = item.IdTransaccion }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IdTransaccion })
        </td>
    </tr>
}

</table>
