@model IEnumerable<NominaDataBase.Nominas>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoNomina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Banco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaDesde)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaHasta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaEfectividad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total_AFP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total_ARS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total_ISR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total_ingresos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total_Otros_descuentos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoNomina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Banco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaDesde)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaHasta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaEfectividad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total_AFP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total_ARS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total_ISR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total_ingresos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total_Otros_descuentos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observaciones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdNomina }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdNomina }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdNomina })
        </td>
    </tr>
}

</table>
