@model IEnumerable<NominaDataBase.Tipos_Ingresos>

@{
    ViewBag.Title = "NominaAPP - Tipos de Ingresos";
}

<h2 class="p-3 mb-2 bg-primary text-white col-lg-10">&nbsp;&nbsp;Tipos de Ingresos</h2>
<br /><br /><br /><br />

<p>
    @Html.ActionLink("Crear Nuevo Tipo de Ingreso", "Create", new { }, new { @class = "btn btn-success" })
    <br /><br />
</p>

<div class="col-lg-8">
    <table class="table table-bordered table-striped text-center">
        <tr style="font-size:18px">
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayName("Depende Salario")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayName("Acción")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr style="font-size:18px">
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DependeSalario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.IdTipoIngreso }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.IdTipoIngreso }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.IdTipoIngreso }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
</div>